@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$base: #B8E68A;
$foo:#FE8B7D;

h4{
  color: $positive;
//  background-color: saturate($base, 50%);
}

a {
  color: $balanced;
}

html {
}

#containter {
//  margin: 30px;
}

body {
  /* Margin bottom by footer height */
//  background-color: $base;
  font: 100% $font-stack;
  color: $primary-color;
}
#footer {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
  /* Set the fixed height of the footer here */
//  height: 60px;

}

.container .text-muted {
//  margin: 20px 0;
}


BODY {font-family: 'Headland One', serif;}

H1 {font-weight: 900;}

textarea {    border-style: none;
  border-color: Transparent;
  overflow: auto;  }

#bizcanvas {

}

#bizcanvas .col {
  vertical-align: top;
  text-align: center;
//  padding: 10px;
}


#bizcanvas H4 {
  font-weight: 700;
  font-size: 1em;
}

#bizcanvas H5 {
  font-weight: 700;
  font-size: 0.7em;
}

#bizcanvas p {
  font-weight: 300;
  font-size: 0.8em;
}
