
template(name="eventos")
    +ionView
        div(class="bar bar-header bar-light")
            h1(class="title") CATRACA EVENTOS
        +ionContent(class="has-header")
                ion-slide-box(on-slide-changed="slideChanged($index)")
                    each catraca
                        ion-slide
                            div(class="card")
                                div(class="item")
                                    h4 #{titulo.text}
                                    a(href="#{onde.href}") #{onde.text}
                                div(class="item item-image")
                                    img(class="avatar-image" src="#{image.src}")
        div(class="bar bar-footer")
            button(class="button button-clear") Left
            div(class="title") Title
            button(class="button button-clear") Right
