template(name="appLayout")
    +ionBody
        +ionNavBar
        +ionNavView
            +yield
        if isAndroid
            +ionTabs(style="android")
                +ionTab(title="Eventos" path="eventos" icon="android-star")
                +ionTab(title="foobar" path="foobar" icon="android-time")
                +ionTab(title="Canvas" path="canvas" icon="android-notifications")
                +ionTab(title="Index" path="index" icon="android-happy")
        else
            +ionTabs(style="ios")
                +ionTab(title="Eventos" path="eventos" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive")
                +ionTab(title="foobar" path="foobar" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive")
                +ionTab(title="canvasIonic" path="canvasIonic" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive")
                +ionTab(title="Index" path="index" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive")