template(name="index")
    +ionView
        +contentFor "headerTitle"
            h1(class="title") INDEX
        +ionContent(class="has-header")
            +hello


template(name="hello")
    button. Click Me
    p
        |You've pressed the button #{counter} times.

template(name="foobar")
    +ionView
        +contentFor "headerTitle"
            h1(class="title") FOOBAR
        +ionContent(class="has-header")
            +hello
